{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<h2> Register new account :</h2>
<br>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Enter new Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Enter new Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password2" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
